/* This CSS is apply at body */
body {
  background-color: rgb(80, 165, 80);
  font-family: "Ubuntu", sans-serif;
}

.container {
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
}

.inp1 {
  margin-left: 8rem;
}

.form-row label {
  flex: 0 0 30%;
  font-weight: bold;
}

.form-row .input-group {
  flex: 0 0 70%;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  padding-left: 0;
  background-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #6c757d;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

.form-group input[type="radio"] {
  margin-right: 5px;
}

.head {
  text-align: center;
  background-color: rgb(38, 38, 52);
  color: white;
}

.required {
  color: red;
  font-size: 15px;
}

.btn1 {
  background-color: rgb(80, 165, 80);
  color: white;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 50px;
}

.btnSubmit {
  margin-bottom: 20px;
}

.bottom-wrapper {
  margin-bottom: 20px;
}

form {
  padding-bottom: 15px; /* adjust the value as needed */
}

.inp1 {
  margin-left: 120px;
  width: 100%;
}
